h1 {
	margin: 0;
}
h2 {
	margin: 0;
}
.sidebar-header {
	background-color: lightblue;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sidebar-body {
	padding: 0 2em 0 2em;
}
.sidebar-footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.left-footer {
	background-color: cornflowerblue;
}
.right-footer {
	background-color: lightsteelblue;
}