h1 {
	margin: 0;
}
h2 {
	margin: 0;
}
.sidebar-header {
	background-color: lightblue;
	text-align: center;
}
.sidebar-footer {
	text-align: center;
	vertical-align: middle;
}
.left-footer {
	background-color: cornflowerblue;
}
.right-footer {
	background-color: lightsteelblue;
}