.sidebar-source {
	display: none;
}
.leaflet-sidebar {
	width: 33vw;
	display: flex;
}
.sidebar-layer {
	background: white;
	border: 2px solid #BAB3AD;
	border-radius: 6px;
	width: 92%;
}
.sidebar-header {
	overflow: hidden;
}
.sidebar-body {
	overflow: auto;
}
.sidebar-footer {
	bottom: 0;
	right: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
	overflow: hidden;
}
.close-button {
	margin: 0.5cm -2px 0 -2px;
	border: 2px solid #BAB3AD;
	height: 5vh;
	font-size: 18px;
	padding: 0 .5em;
	background: white;
}
.close-button:hover {
	cursor: pointer;
}
.left-collapse {
	position: absolute;
	left: -33vw; /* Set the value of 'left' to the width of your sidebar */
}
.right-collapse {
	position: absolute;
	right: -33vw; /* Set the value of 'right' to the width of your sidebar */
}
.left-collapse.left-show {
	position: relative;
	left: 0;
}
.right-collapse.right-show {
	position: relative;
	right: 0;
}