.sidebar-layer {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.sidebar-header {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sidebar-back {
	padding: 0.5em 2em 0.5em 2em;
}
.sidebar-content {
	padding: 0 2em 0 2em;
}
.sidebar-footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media only screen and (max-width: 600px) {
	.leaflet-sidebar {
		width: 95vw;	
	}
	.left-collapse {
		position: absolute;
		left: -95vw; /* Set the value of 'left' to the width of your sidebar */
	}
	.right-collapse {
		position: absolute;
		right: -95vw; /* Set the value of 'right' to the width of your sidebar */
	}
}